<template name="taskDetailModal">
  <style scoped>
    .flex {
      display: flex;
    }

    .detail-label {
      margin-bottom: 0;
      display: block;
      margin-top: 4px;
      margin-right: 10px;
    }

    #nav-subtasks .dataTables_wrapper {
      min-height: 22vh !important;
      padding: 0 10px;
    }
  </style>
  <div class="modal fade" id="taskDetailModal" tabindex="-1" role="dialog" aria-labelledby="taskNameLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
      <div class="modal-content" style="min-height: 90vh; padding: 20px; background-color: #EDEDED !important;">
        <div class="modal-header" style="border-bottom: none; padding-bottom: 0; background-color: #EDEDED;">
          <div style="display: grid; width: 100%;">
            <div style="justify-content: space-between;">
              <div class="row">
                <div class="col-6">
                  <h4>
                    <div id="add-account-title" name="add-account-title" style="float: left; font-size: xx-large;">Task to do is</div>
                  </h4>
                </div>
                <div class="col-6" style="display: inline-flex; justify-content: end;">
                  <div class="dropdown">
                    <i class="fas fa-list-ul taskModalAction taskModalActionDropdown dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" title="Select a project..."></i>
                    <div class="dropdown-menu dropdown-menu-right goProjectWrapper" aria-labelledby="dropdownMenuButton"
                      style="width: 275px;">
                    </div>
                  </div>
                  <div class="dropdown">
                    <i class="fas fa-tag taskModalAction taskModalActionDropdown dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" title="Select the label(s) for this task"></i>
                    <div class="dropdown-menu dropdown-menu-right detailTaskLabelWrapper" id="detailTaskLabelWrapper"
                      aria-labelledby="dropdownMenuButton">
                    </div>
                  </div>
                  <div class="dropdown">
                    <i class="fas fa-flag taskModalAction taskModalActionFlagDropdown dropdown-toggle"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Set the priority..."></i>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                      style="width: 200px;">
                      <a class="dropdown-item task_modal_priority_3 taskDropSecondFlag" title="Priority 1" data-priority="3"
                        data-id="edit"><i class="fas fa-flag" style="margin-right: 8px;" data-priority="3"
                          data-id="edit"></i>Priority 1
                        <div style="width: 20%; float: right;" data-priority="3" data-id="edit">
                          <div class="custom-control custom-checkbox chkBox pointer" style="width: 15px; float: right;"
                            data-priority="3" data-id="edit">
                            <input class="custom-control-input chkBox pointer" type="checkbox" id="chkPriority3" value="3"
                              data-priority="3" data-id="edit">
                            <label class="custom-control-label chkBox pointer" for="chkPriority3" data-priority="3"
                              data-id="edit"></label>
                          </div>
                        </div>
                      </a>
                      <a class="dropdown-item task_modal_priority_2 taskDropSecondFlag" title="Priority 2" data-priority="2"
                        data-id="edit"><i class="fas fa-flag" style="margin-right: 8px;" data-priority="2"
                          data-id="edit"></i>Priority 2
                        <div style="width: 20%; float: right;" data-priority="2" data-id="edit">
                          <div class="custom-control custom-checkbox chkBox pointer" style="width: 15px; float: right;"
                            data-priority="2" data-id="edit">
                            <input class="custom-control-input chkBox pointer" type="checkbox" id="chkPriority2" value="2"
                              data-priority="2" data-id="edit">
                            <label class="custom-control-label chkBox pointer" for="chkPriority2" data-priority="2"
                              data-id="edit"></label>
                          </div>
                        </div>
                      </a>
                      <a class="dropdown-item task_modal_priority_1 taskDropSecondFlag" title="Priority 3" data-priority="1"
                        data-id="edit"><i class="fas fa-flag" style="margin-right: 8px;" data-priority="1"
                          data-id="edit"></i>Priority 3
                        <div style="width: 20%; float: right;" data-priority="1" data-id="edit">
                          <div class="custom-control custom-checkbox chkBox pointer" style="width: 15px; float: right;"
                            data-priority="1" data-id="edit">
                            <input class="custom-control-input chkBox pointer" type="checkbox" id="chkPriority1" value="1"
                              data-priority="1" data-id="edit">
                            <label class="custom-control-label chkBox pointer" for="chkPriority1" data-priority="1"
                              data-id="edit"></label>
                          </div>
                        </div>
                      </a>
                      <a class="dropdown-item task_modal_priority_0 taskDropSecondFlag" title="Priority 4" data-priority="0"
                        data-id="edit"><i class="fas fa-flag" style="margin-right: 8px;" data-priority="0"
                          data-id="edit"></i>Priority 4
                        <div style="width: 20%; float: right;" data-priority="0" data-id="edit">
                          <div class="custom-control custom-checkbox chkBox pointer" style="width: 15px; float: right;"
                            data-priority="0" data-id="edit">
                            <input class="custom-control-input chkBox pointer" type="checkbox" id="chkPriority0" value="0"
                              data-priority="0" data-id="edit">
                            <label class="custom-control-label chkBox pointer" for="chkPriority0" data-priority="0"
                              data-id="edit"></label>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="close" style="position: absolute; right: 14px; top: 14px" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: #EDEDED;">
          <div class="row">
            <div class="col-12">
              <div class="form-group" style="margin: 4px;">
                <input type="text" class="form-control editTaskNameDescription editTaskDetailName" id="edtAccountName" name="edtAccountName" style="font-size: larger;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group" style="margin: 4px;">
                <label>Description</label>
                <div id="taskmodalDescription" class="displayTaskNameDescription"></div>
                <textarea class="form-control editTaskNameDescription editTaskDetailDescription" rows="3" id="txaAccountDescription" name="txaAccountDescription"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-4">
              <div class="form-group" style="margin: 4px;"><label>Who is task for</label>
                  <select type="search" class="form-control pointer crmSelectLeadList selectBg" id="crmEditSelectLeadList" name="userForTask" style="height: 38px;">
                  </select>
              </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="form-group" style="margin: 4px;"><label>Contact Email</label>
                    <input type="text" class="form-control disableBg" id="contactEmailClient" name="contactEmailClient">
                </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="form-group" style="margin: 4px;"><label>Contact Phone</label>
                  <input type="text" class="form-control disableBg" id="contactPhoneClient" name="contactPhoneClient">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-4">
              <div class="form-group" style="margin: 4px;"><label>Assigned to</label>
                  <select type="search" class="form-control pointer crmSelectEmployeeList selectBg" id="crmEditSelectEmployeeList" name="userForTask" style="height: 38px;">
                  </select>
              </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="form-group" style="margin: 4px;"><label>Contact Email</label>
                    <input type="text" class="form-control disableBg" id="contactEmailUser" name="contactEmailUser">
                </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="form-group" style="margin: 4px;"><label>Contact Phone</label>
                  <input type="text" class="form-control disableBg" id="contactPhoneUser" name="contactPhoneUser">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-4">
              <div class="form-group" style="margin: 4px;">
                <label>For Project:</label>
                <select type="search" class="form-control pointer taskDetailModalCategoryLabel selectBg" id="taskDetailModalCategoryLabel" name="userForTask" style="height: 38px;">
                </select>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="form-group" style="margin: 4px;">
                <label>Completed by:</label>
                <div class="input-group date" style="cursor: pointer;">
                    <input type="text" class="form-control formClassDate taskmodalDuedate" id="taskmodalDuedate" name="taskmodalDuedate">
                    <div class="input-group-addon" style="">
                        <span class="glyphicon glyphicon-th" style="cursor: pointer;"></span>
                    </div>
                </div>
                <!-- <div style="display: flex;">
                  <span class="taskDueDate">
                    <span id="taskmodalDuedate"></span>
                  </span>
                  <div id="taskmodalLabels" style="margin-top:4px;">
                    <span class="taskTag"><i class="fas fa-tag"></i></span>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="custom-control custom-switch" style="cursor: pointer; margin-top: 42px;">
                <input class="custom-control-input additionalModule chkComplete pointer" type="checkbox"
                  id="chkComplete_taskEdit" name="Additional" style="cursor: pointer;" additionalqty="1"
                  autocomplete="off" data-id="edit">
                <label class="custom-control-label" for="chkComplete_taskEdit"
                  style="cursor: pointer; max-width: 200px;" data-id="edit">Completed</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>Activity</label>
              <div class="row" style="border: 1px solid #e3e3e3; margin: 0 5px;">
                <div class="row">
                  <span class="activityAdded"></span>
                  <!-- <hr style="width: 100%; margin: 0px 32px;" /> -->
                </div>
                <div class="col-12 task-activity-row">
              </div>
                <!-- <div class="row" style="padding: 16px;">
                  <div class="col-12">
                    <span class="activityDate">9999-99-99</span>
                  </div>
                  <hr style="width: 100%; margin: 8px 16px;" />
                  <div class="col-1">
                    <div class="commentUser">test</div>
                  </div>
                  <div class="col-11" style="padding-top: 4px; padding-left: 24px;">
                    <div class="row">
                      <span class="activityName">test</span> <span class="activityAction">test</span>
                    </div>
                    <div class="row">
                      <span class="activityComment">adasdasdasd}</span>
                    </div>
                    <div class="row">
                      <span class="activityTime">6:6sdfsd</span>
                    </div>
                  </div>
                  <hr style="width: 100%; margin: 16px;" />
                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12" style="padding-top:10px">
              <div class="row">
                <div class="col-12">
                  <label>Sub-Tasks</label>
                  <button type="button" class="btn btn-link btnAddSubTask btnNav btn-primary" style="margin: -8px 16px 0px 16px; float: right; color: white;"><i
                      class="fas fa-plus" style="margin-right: 8px; color: white;"></i> Sub-Task</button>
                </div>
              </div>
              <div class="tab-pane fade show active" id="nav-subtasks" role="tabpanel"
                  aria-labelledby="nav-subtasks-tab">
                  <div class="row no-gutters">
                    <div class="subtask-row col-12">
                      <div class="table-responsive">
                        <table id="tblSubtaskDatatable" name="tblSubtaskDatatable" style="width:100%"
                          class="dataTable table table-hover table-striped table-bordered tblSubtaskDatatable">
                          <thead>
                            <tr class="dnd-moved">
                              <th class="th colCompleteTask" style="width: 2%;">
                              </th>
                              <th class="th colPriority no-modal hiddenColumn">Priority</th>
                              <th class="th colSubDate no-modal">Date</th>
                              <th class="th colSubTaskName no-modal" style="width: 50% !important;">Task</th>
                              <th class="th colTaskDesc no-modal hiddenColumn">Description</th>
                              <th class="th colTaskLabels no-modal hiddenColumn">Labels</th>
                              <th class="th colTaskProjects no-modal hiddenColumn">Project</th>
                              <th class="th colTaskActions no-modal">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="col-12 newTaskRow" style="display: none;">
                        <div class="col-12">
                          <div class="form-group">
                            <label>Task Name</label>
                            <input class="form-control" type="text" id="" name="" autocomplete="off">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label>Task Description</label>
                            <textarea class="form-control" rows="2" id="" name="" autocomplete="off"></textarea>
                          </div>
                        </div>
                        <div class="col-6" style="display: inline-flex;">
                          <div class="dropdown taskDropdownSchedule">
                            <button class="btn btn-primary dropdown-toggle btnSchedule" type="button" id=""
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="far fa-calendar-minus" style="margin-right: 8px;"></i>Schedule
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 275px;">
                              <a class="dropdown-item" href="#"><i class="fas fa-calendar-day text-success"
                                  style="margin-right: 8px;"></i>Today
                                <div class="float-right" style="width: 40%; text-align: end; color: #858796;">Wed
                                </div>
                              </a>
                              <a class="dropdown-item" href="#"><i class="fas fa-sun text-warning"
                                  style="margin-right: 8px;"></i>Tomorrow
                                <div class="float-right" style="width: 40%; text-align: end; color: #858796;">Thu
                                </div>
                              </a>
                              <a class="dropdown-item" href="#"><i class="fas fa-couch text-primary"
                                  style="margin-right: 8px;"></i>This Weekend
                                <div class="float-right" style="width: 40%; text-align: end; color: #858796;">Sat
                                </div>
                              </a>
                              <a class="dropdown-item" href="#"><i class="fas fa-calendar-alt text-danger"
                                  style="margin-right: 8px;"></i>Next Week
                                <div class="float-right" style="width: 40%; text-align: end; color: #858796;">Mon
                                  Apr 11</div>
                              </a>
                              <a class="dropdown-item" href="#"><i class="fas fa-ban text-secondary"
                                  style="margin-right: 8px;"></i>No Date</a>
                              <div class="dropdown-divider"></div>
                              <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                                title="Date format: DD/MM/YYYY" style="margin: 6px 20px; margin-top: 14px;">
                                <div class="input-group date" style="cursor: pointer;">
                                  <input type="text" class="form-control hasDatepicker" id="dtScheduleDate"
                                    name="dtScheduleDate" autocomplete="off"><img class="ui-datepicker-trigger"
                                    src="/img/imgCal2.png" alt="Show Date" title="Show Date">
                                  <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th" style="cursor: pointer;"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="dropdown taskDropdownFilter">
                            <button class="btn btn-primary dropdown-toggle btnSchedule"
                              style="background-color: rgba(0,0,0,0);" type="button" id="" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <span class="dropdownFilter"><i class="fas fa-inbox text-primary"
                                  style="margin-right: 5px;"></i><span class="detailTaskModalProjectName">All
                                  Tasks</span></span>
                            </button>
                            <div class="dropdown-menu goProjectWrapper" aria-labelledby="dropdownMenuButton"
                              style="width: 275px;">
                            </div>
                          </div>
                        </div>
                        <div class="col-6" style="display: inline-flex; justify-content: end;">
                          <div class="dropdown">
                            <i class="fas fa-tag taskModalAction taskModalActionDropdown dropdown-toggle"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                              title="Select the label(s) for this task"></i>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                              style="width: 200px;">
                            </div>
                          </div>
                          <div class="dropdown">
                            <i class="fas fa-flag taskModalAction taskModalActionFlagDropdown dropdown-toggle"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                              title="Set the priority..."></i>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                              style="width: 200px;">
                              <a class="dropdown-item task_modal_priority_3" href="#"><i class="fas fa-tag"
                                  style="margin-right: 8px;"></i>Priority 1
                                <div style="width: 20%; float: right;">
                                  <div class="custom-control custom-checkbox chkBox pointer"
                                    style="width: 15px; float: right;">
                                    <input class="custom-control-input chkBox chkPaymentCard pointer" type="checkbox"
                                      id="label_1" value="">
                                    <label class="custom-control-label chkBox pointer" for="label_1"></label>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item task_modal_priority_2" href="#"><i class="fas fa-tag"
                                  style="margin-right: 8px;"></i>Priority 2
                                <div style="width: 20%; float: right;">
                                  <div class="custom-control custom-checkbox chkBox pointer"
                                    style="width: 15px; float: right;">
                                    <input class="custom-control-input chkBox chkPaymentCard pointer" type="checkbox"
                                      id="label_1" value="">
                                    <label class="custom-control-label chkBox pointer" for="label_1"></label>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item task_modal_priority_1" href="#"><i class="fas fa-tag"
                                  style="margin-right: 8px;"></i>Priority 3
                                <div style="width: 20%; float: right;">
                                  <div class="custom-control custom-checkbox chkBox pointer"
                                    style="width: 15px; float: right;">
                                    <input class="custom-control-input chkBox chkPaymentCard pointer" type="checkbox"
                                      id="label_1" value="">
                                    <label class="custom-control-label chkBox pointer" for="label_1"></label>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item task_modal_priority_0" href="#"><i class="fas fa-tag"
                                  style="margin-right: 8px;"></i>Priority 4
                                <div style="width: 20%; float: right;">
                                  <div class="custom-control custom-checkbox chkBox pointer"
                                    style="width: 15px; float: right;">
                                    <input class="custom-control-input chkBox chkPaymentCard pointer" type="checkbox"
                                      id="label_1" value="">
                                    <label class="custom-control-label chkBox pointer" for="label_1"></label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                          <i class="far fa-bell taskModalAction" data-toggle="tooltip" data-placement="bottom"
                            title="Add reminder(s)..."></i>
                        </div>
                        <div class="col-12" style="margin-top: 12px;">
                          <button class="btn btn-success" type="button" style=""><i class="fa fa-save"
                              style="margin-right: 5px;"></i>Add Task</button>
                          <button class="btn btn-secondary btnCancelAddTask" type="button" style="margin-left: 8px;"><i
                              class="fa fa-close" style="margin-right: 5px;"></i>Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="task-comment-row col-12">
            </div>
            <div class="col-12 commentSection">
              <div class="row">
                <div class="form-group col-md-12" style="width: 100%;">
                  <label>Comment</label>
                  <textarea class="form-control" rows="1" id="txtCommentsDescription" name=""
                    autocomplete="off"></textarea>
                  <input type="hidden" id="txtCrmTaskID" value="" />
                  <input type="hidden" id="txtCrmProjectID" value="" />
                  <input type="hidden" id="txtCrmSubTaskID" value="" />
                </div>
                <button type="button" class="btn btn-primary btnCrmAddComment"
                  style="margin-left: 16px;">Comment</button>
              </div>
            </div>
          </div> -->
          <input type="hidden" id="txtCrmTaskID" value="" />
          <input type="hidden" id="txtCrmProjectID" value="" />
          <input type="hidden" id="txtCrmSubTaskID" value="" />
        </div>
        <!-- <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="nav-subtasks-tab" data-toggle="tab" href="#nav-subtasks" type="button"
                    role="tab" aria-controls="subtasks" aria-selected="true">Sub-Tasks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" type="button"
                    role="tab" aria-controls="comments" aria-selected="false">Comments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-activity-tab" data-toggle="tab" href="#nav-activity" type="button"
                    role="tab" aria-controls="activity" aria-selected="false">Activity</a>
                </li>
              </ul>
              <div class="tab-content" id="nav-tabContent"
                style="border: 1px solid #dddfeb; border-top: 0px solid #dddfeb;">
                <div class="tab-pane fade show active" id="nav-subtasks" style="min-height: 40vh;" role="tabpanel"
                  aria-labelledby="nav-subtasks-tab">
                  <div class="row no-gutters">
                    <div class="subtask-row col-12">
                      <div class="table-responsive">
                        <table id="tblSubtaskDatatable" name="tblSubtaskDatatable" style="width:100%"
                          class="dataTable table table-hover table-striped table-bordered tblSubtaskDatatable">
                          <thead>
                            <tr class="dnd-moved">
                              <th class="th colCompleteTask" style="width: 2%;">
                              </th>
                              <th class="th colPriority no-modal hiddenColumn">Priority</th>
                              <th class="th colSubDate no-modal">Date</th>
                              <th class="th colSubTaskName no-modal" style="width: 50% !important;">Task</th>
                              <th class="th colTaskDesc no-modal hiddenColumn">Description</th>
                              <th class="th colTaskLabels no-modal hiddenColumn">Labels</th>
                              <th class="th colTaskProjects no-modal hiddenColumn">Project</th>
                              <th class="th colTaskActions no-modal">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="col-12 newTaskRow" style="display: none;">
                        <div class="col-12">
                          <div class="form-group">
                            <label>Task Name</label>
                            <input class="form-control" type="text" id="" name="" autocomplete="off">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label>Task Description</label>
                            <textarea class="form-control" rows="2" id="" name="" autocomplete="off"></textarea>
                          </div>
                        </div>
                        <div class="col-6" style="display: inline-flex;">
                          <div class="dropdown taskDropdownSchedule">
                            <button class="btn btn-primary dropdown-toggle btnSchedule" type="button" id=""
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="far fa-calendar-minus" style="margin-right: 8px;"></i>Schedule
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 275px;">
                              <a class="dropdown-item" href="#"><i class="fas fa-calendar-day text-success"
                                  style="margin-right: 8px;"></i>Today
                                <div class="float-right" style="width: 40%; text-align: end; color: #858796;">Wed
                                </div>
                              </a>
                              <a class="dropdown-item" href="#"><i class="fas fa-sun text-warning"
                                  style="margin-right: 8px;"></i>Tomorrow
                                <div class="float-right" style="width: 40%; text-align: end; color: #858796;">Thu
                                </div>
                              </a>
                              <a class="dropdown-item" href="#"><i class="fas fa-couch text-primary"
                                  style="margin-right: 8px;"></i>This Weekend
                                <div class="float-right" style="width: 40%; text-align: end; color: #858796;">Sat
                                </div>
                              </a>
                              <a class="dropdown-item" href="#"><i class="fas fa-calendar-alt text-danger"
                                  style="margin-right: 8px;"></i>Next Week
                                <div class="float-right" style="width: 40%; text-align: end; color: #858796;">Mon
                                  Apr 11</div>
                              </a>
                              <a class="dropdown-item" href="#"><i class="fas fa-ban text-secondary"
                                  style="margin-right: 8px;"></i>No Date</a>
                              <div class="dropdown-divider"></div>
                              <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                                title="Date format: DD/MM/YYYY" style="margin: 6px 20px; margin-top: 14px;">
                                <div class="input-group date" style="cursor: pointer;">
                                  <input type="text" class="form-control hasDatepicker" id="dtScheduleDate"
                                    name="dtScheduleDate" autocomplete="off"><img class="ui-datepicker-trigger"
                                    src="/img/imgCal2.png" alt="Show Date" title="Show Date">
                                  <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th" style="cursor: pointer;"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="dropdown taskDropdownFilter">
                            <button class="btn btn-primary dropdown-toggle btnSchedule"
                              style="background-color: rgba(0,0,0,0);" type="button" id="" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <span class="dropdownFilter"><i class="fas fa-inbox text-primary"
                                  style="margin-right: 5px;"></i><span class="detailTaskModalProjectName">All
                                  Tasks</span></span>
                            </button>
                            <div class="dropdown-menu goProjectWrapper" aria-labelledby="dropdownMenuButton"
                              style="width: 275px;">
                            </div>
                          </div>
                        </div>
                        <div class="col-6" style="display: inline-flex; justify-content: end;">
                          <div class="dropdown">
                            <i class="fas fa-tag taskModalAction taskModalActionDropdown dropdown-toggle"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                              title="Select the label(s) for this task"></i>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                              style="width: 200px;">
                            </div>
                          </div>
                          <div class="dropdown">
                            <i class="fas fa-flag taskModalAction taskModalActionFlagDropdown dropdown-toggle"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                              title="Set the priority..."></i>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                              style="width: 200px;">
                              <a class="dropdown-item task_modal_priority_3" href="#"><i class="fas fa-tag"
                                  style="margin-right: 8px;"></i>Priority 1
                                <div style="width: 20%; float: right;">
                                  <div class="custom-control custom-checkbox chkBox pointer"
                                    style="width: 15px; float: right;">
                                    <input class="custom-control-input chkBox chkPaymentCard pointer" type="checkbox"
                                      id="label_1" value="">
                                    <label class="custom-control-label chkBox pointer" for="label_1"></label>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item task_modal_priority_2" href="#"><i class="fas fa-tag"
                                  style="margin-right: 8px;"></i>Priority 2
                                <div style="width: 20%; float: right;">
                                  <div class="custom-control custom-checkbox chkBox pointer"
                                    style="width: 15px; float: right;">
                                    <input class="custom-control-input chkBox chkPaymentCard pointer" type="checkbox"
                                      id="label_1" value="">
                                    <label class="custom-control-label chkBox pointer" for="label_1"></label>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item task_modal_priority_1" href="#"><i class="fas fa-tag"
                                  style="margin-right: 8px;"></i>Priority 3
                                <div style="width: 20%; float: right;">
                                  <div class="custom-control custom-checkbox chkBox pointer"
                                    style="width: 15px; float: right;">
                                    <input class="custom-control-input chkBox chkPaymentCard pointer" type="checkbox"
                                      id="label_1" value="">
                                    <label class="custom-control-label chkBox pointer" for="label_1"></label>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item task_modal_priority_0" href="#"><i class="fas fa-tag"
                                  style="margin-right: 8px;"></i>Priority 4
                                <div style="width: 20%; float: right;">
                                  <div class="custom-control custom-checkbox chkBox pointer"
                                    style="width: 15px; float: right;">
                                    <input class="custom-control-input chkBox chkPaymentCard pointer" type="checkbox"
                                      id="label_1" value="">
                                    <label class="custom-control-label chkBox pointer" for="label_1"></label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                          <i class="far fa-bell taskModalAction" data-toggle="tooltip" data-placement="bottom"
                            title="Add reminder(s)..."></i>
                        </div>
                        <div class="col-12" style="margin-top: 12px;">
                          <button class="btn btn-success" type="button" style=""><i class="fa fa-save"
                              style="margin-right: 5px;"></i>Add Task</button>
                          <button class="btn btn-secondary btnCancelAddTask" type="button" style="margin-left: 8px;"><i
                              class="fa fa-close" style="margin-right: 5px;"></i>Cancel</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="button" class="btn btn-link btnAddSubTask" style="margin: 16px;"><i
                          class="fas fa-plus" style="margin-right: 8px;"></i> Add Sub-Task</button>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                  <div class="row">

                    <div class="task-comment-row col-12">
                    </div>

                    <div class="col-12 commentSection" style="padding: 16px 24px;">
                      <div class="row">
                        <div class="form-group col-md-12" style="width: 100%;">
                          <label>Comment</label>
                          <textarea class="form-control" rows="1" id="txtCommentsDescription" name=""
                            autocomplete="off"></textarea>
                          <input type="hidden" id="txtCrmTaskID" value="" />
                          <input type="hidden" id="txtCrmProjectID" value="" />
                          <input type="hidden" id="txtCrmSubTaskID" value="" />
                        </div>
                        <button type="button" class="btn btn-primary btnCrmAddComment"
                          style="margin-left: 16px;">Comment</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="nav-activity" style="height: 36vh;" role="tabpanel"
                  aria-labelledby="nav-activity-tab">
                  <div class="row">
                    <span class="activityAdded"></span>
                    <hr style="width: 100%; margin: 0px 32px;" />
                  </div>
                  <div class="col-12 task-activity-row">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Split line -->
        <!-- <div class="d-xl-flex justify-content-between align-items-xl-center" style="margin: 16px 0px 0px 0px;">
            <div style="margin-right: 5px;">
                <div class="dropdown btnTaskTableAction vs1ButtonMargin float-left" style="padding-left: 14px;">
                  <button type="button" class="btn btn-success" data-toggle="dropdown"><i
                      class="far fa-calendar" title="Reschedule Task"></i></button>
                  <div class="dropdown-menu dropdown-menu-right reschedule-dropdown-menu  no-modal"
                    aria-labelledby="dropdownMenuButton" style="width: 275px;">
                    <a class="dropdown-item no-modal setScheduleToday" href="#" data-id="{{item.fields.ID}}">
                      <i class="fas fa-calendar-day text-success no-modal"
                        style="margin-right: 8px;"></i>Today
                      <div class="float-right no-modal" style="width: 40%; text-align: end; color: #858796;">
                        {{item.todayDate}}</div>
                    </a>
                    <a class="dropdown-item no-modal setScheduleTomorrow" href="#"
                      data-id="${item.fields.ID}}">
                      <i class="fas fa-sun text-warning no-modal" style="margin-right: 8px;"></i>Tomorrow
                      <div class="float-right no-modal" style="width: 40%; text-align: end; color: #858796;">
                        {{item.fields.tomorrowDay}}</div>
                    </a>
                    <a class="dropdown-item no-modal setScheduleWeekend" href="#"
                      data-id="{{item.fields.ID}}">
                      <i class="fas fa-couch text-primary no-modal" style="margin-right: 8px;"></i>This Weekend
                      <div class="float-right no-modal" style="width: 40%; text-align: end; color: #858796;">
                        Sat</div>
                    </a>
                    <a class="dropdown-item no-modal setScheduleNexweek" href="#"
                      data-id="{{item.fields.ID}}">
                      <i class="fas fa-calendar-alt text-danger no-modal" style="margin-right: 8px;"></i>Next Week
                      <div class="float-right no-modal" style="width: 40%; text-align: end; color: #858796;">
                        {{item.fields.nextMonday}}
                      </div>
                    </a>
                    <a class="dropdown-item no-modal setScheduleNodate" href="#" data-id="${item.fields.ID}}">
                      <i class="fas fa-ban text-secondary no-modal" style="margin-right: 8px;"></i>
                      No Date</a>
                    <div class="dropdown-divider no-modal"></div>
                    <div class="form-group no-modal" data-toggle="tooltip" data-placement="bottom"
                      title="Date format: DD/MM/YYYY" style="display:flex; margin: 6px 20px; margin-top: 0px; z-index: 99999;">
                      <label style="margin-top: 6px; margin-right: 16px; width: 146px;">Select Date</label>
                      <div class="input-group date no-modal" style="cursor: pointer;">
                        <input type="text" id="{{item.fields.ID}}" class="form-control crmDatepicker no-modal"
                          autocomplete="off">
                        <div class="input-group-addon no-modal">
                          <span class="glyphicon glyphicon-th no-modal" style="cursor: pointer;"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="dropdown btnTaskTableAction vs1ButtonMargin float-left" style="padding-left: 14px;">
                  <button type="button" class="btn btn-warning openEditTaskModal" data-id="{{item.fields.ID}}"
                    data-ttype="comment" data-catg="{{item.fields.projectName}}"
                    title="Add a Comment"><i class="far fa-comment-alt" data-id="{{item.fields.ID}}"
                      data-ttype="comment"
                      data-catg="{{item.fields.projectName}}"></i></button>
                </div>

                <div class="dropdown btnTaskTableAction vs1ButtonMargin float-left" style="padding-left: 14px;">
                  <button type="button" class="btn btn-secondary" data-toggle="dropdown"
                    data-placement="bottom" title="More Options"><i class="fas fa-ellipsis-h"></i></button>
                  <div class="dropdown-menu dropdown-menu-right crmtaskdrop" id="">
                    <a class="dropdown-item openEditTaskModal" data-id="{{item.fields.ID}}"
                      data-catg="{{item.fields.projectName}}">
                      <i class="far fa-edit" style="margin-right: 8px;" data-id="${item.fields.ID}}"
                        data-catg="{{item.fields.projectName}}"></i>Edit
                      Task</a>

                    <div class="dropdown-divider"></div>

                    <div class="dropdown-item-wrap no-modal">
                      <div class="no-modal">
                        <div class="no-modal">
                          <span class="no-modal">Priority</span>
                        </div>
                        <div class="no-modal" style="display: inline-flex;">
                          <i class="fas fa-flag no-modal taskDropSecondFlag task_modal_priority_3" style="padding-left: 8px;" data-toggle="tooltip"
                            data-placement="bottom" title="Priority 1" data-priority="3"
                            data-id="{{item.fields.ID}}"></i>
                          <i class="fas fa-flag no-modal taskDropSecondFlag task_modal_priority_2"
                            data-toggle="tooltip" data-placement="bottom" title="Priority 2" data-priority="2"
                            data-id="{{item.fields.ID}}"></i>
                          <i class="fas fa-flag no-modal taskDropSecondFlag task_modal_priority_1"
                            data-toggle="tooltip" data-placement="bottom" title="Priority 3" data-priority="1"
                            data-id="{{item.fields.ID}}"></i>
                          <i class="fas fa-flag no-modal taskDropSecondFlag task_modal_priority_0" data-toggle="tooltip"
                            data-placement="bottom" title="Priority 4" data-priority="0"
                            data-id="{{item.fields.ID}}"></i>
                        </div>
                      </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item no-modal movetoproject" data-id="${item.fields.ID}}"
                      data-projectid="{{item.fields.ProjectID}}">
                      <i class="fa fa-arrow-circle-right" style="margin-right: 8px;"
                        data-id="{{item.fields.ID}}" data-projectid="{{item.fields.ProjectID}}"></i>Move to
                      Project</a>
                    <a class="dropdown-item duplicate-task no-modal" data-id="{{item.fields.ID}}">
                      <i class="fa fa-plus-square-o" style="margin-right: 8px;"
                        data-id="{{item.fields.ID}}"></i>Duplicate</a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item delete-task no-modal" data-id="${item.fields.ID}}">
                      <i class="fas fa-trash-alt" style="margin-right: 8px;"
                        data-id="{{item.fields.ID}}"></i>Delete
                      Task</a>
                  </div>
                </div>
            </div>
        </div> -->
        <div class="modal-footer" style="background-color: #EDEDED;">
            <button class="btn btn-success btnSaveEditTask vs1ButtonMargin" data-dismiss="modal" type="button"><i class="fa fa-save"
                   style="padding-right: 8px;"></i>Save</button>
            <button class="btn btn-danger vs1ButtonMargin delete-task" aria-haspopup="true" aria-expanded="false"
              title="Delete task..." data-id="edit" type="button"><i class="fa fa-trash" style="padding-right: 8px;"></i>Delete</button>
            <button type="button" class="btn btn-secondary vs1ButtonMargin" data-dismiss="modal"><i class="fa fa-close" style="padding-right: 8px;"></i>Close</button>
        </div>
      </div>
    </div>
  </div>
  <style>
    #taskmodalLabels .fa-tag {
      margin-right: 5px;
    }

    .task-comment-row {
      /* height: 27vh; */
      overflow-y: auto;
      max-height: 24vh;
      /* min-height: 12vh; */
    }

    .displayTaskNameDescription {
      display: none;
    }

    .editTaskDetailName {
      height: 38px;
      width: 100%;
      border-radius: 5px;
      padding: 0 10px;
      margin-left: 0px;
    }

    .editTaskDetailDescription {
      width: 100%;
      /* height: 10vh; */
      border-color: #e3e3e3;
      padding: 5px 15px;
      border-radius: 5px;
    }

    .selectBg {
      background-color: #ffffff !important;
    }

    .disableBg {
      /* background-color: #e3e3e3 !important; */
      background-color: #ffffff !important;
    }

  </style>
</template>
