<template name="servicelogcard">
  <div class="container-fluid purchasesmodule" style="padding-right: 0px;padding-left: 0px; background-color: #ededed;">
    <div class="fullScreenSpin" style="display:none;">
      <div class="spinner"></div>
    </div>

    <form>
      <header
        style="padding: 16px; padding-right: 0px;background-color: #ededed;margin-top: -24px;padding-bottom: 0px;">
        <h1 style="margin: 12px;margin-bottom: 0px;" class="heading">New Service Log

          {{> helpbutton}}

          <!-- Start Help View Modal -->
          <div class="modal fade" role="dialog" tabindex="-1" id="helpViewModal">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header" style="padding-bottom: 8px;">
                  <h4>Help</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                  <p class="text-center text-muted"><a role="button" data-toggle="modal" href="#helpModal"
                      class="btn btn-primary helpModal">View Help Video</a></p>
                  <p class="text-center text-muted"><a href="https://vs1forum.com/" target="_blank"
                      class="btn btn-primary">Download Help File</a></p>
                  {{> helpadvisor}}
                  {{> helpgotoforum}}
                </div>
                <div class="modal-footer" style="padding: 6px;"><button class="btn btn-light" data-dismiss="modal"
                    type="button">Close</button></div>
              </div>
            </div>
          </div>
          <!-- End Help View Modal -->

          <a class="btn" role="button" data-toggle="modal" href="#myModal4" style="float: right;"><i
              class="icon ion-android-more-horizontal"></i></a>
        </h1>
      </header>

      <div class="row" style="background-color: #ededed;">
        <div class="col-12 col-xl-10">
          <div class="row" style="margin: 8px 16px 0px 16px;">
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
              <div class="form-group"><label>Asset Code</label>
                <select type="search" class="form-control" id="edtAssetCode" name="edtAssetCode" suppid=" "
                  style="background-color:rgb(255, 255, 255); cursor: pointer;">
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
              <div class="form-group"><label>Asset Name</label>
                <input class="form-control" type="text" id="edtAssetName" name="edtAssetName"
                  customerid=" ">
              </div>
            </div> 
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
              <div class="form-group"><label>Service Date</label>
                <div class="input-group date" style="cursor: pointer;">
                  <input type="text" class="form-control" id="dtServiceDate" name="dtServiceDate">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th" style="cursor: pointer;"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
              <div class="form-group"><label>Service Provider</label>
                <input class="form-control" type="text" id="edtServiceProvider" name="edtServiceProvider"
                  customerid=" ">
              </div>
            </div>
          </div>

          <div class="row" style="margin: 8px 16px 0px 16px;">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
              <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group"><label>Next Service Date</label>
                    <div class="input-group date" style="cursor: pointer;">
                      <input type="text" class="form-control" id="dtNextServiceDate" name="dtNextServiceDate">
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th" style="cursor: pointer;"></span>
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group"><label>Hour(s)</label>
                    <input class="form-control" type="text" id="edtHours"
                      name="edtHours" customerid=" ">
                  </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group"><label>Km(s)</label>
                    <input class="form-control" type="text" id="edtKms"
                      name="edtKms" customerid=" ">
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
              <div class="form-group"><label>Rep</label>
                <select type="search" class="form-control" id="edtRep" name="edtRep" suppid=" "
                  style="background-color:rgb(255, 255, 255); cursor: pointer;">
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-3" style="display: flex;">
              <div class="form-group" style="float: right;">
                <div class="custom-control custom-switch" style="cursor: pointer;margin-top: 5px;">
                  <input class="custom-control-input additionalModule pointer" type="checkbox" id="chkDone" name="chkDone" style="cursor: pointer;" additionalqty="1" autocomplete="off">
                  <label class="custom-control-label" for="chkDone" style="cursor: pointer;">Done</label> 
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin: 8px 16px 0px 16px;">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group"><label>Service Notes</label>
                <textarea class="form-control" rows="5" style="height: 120px;" id="txtServiceNotes"
                  name="txtServiceNotes"></textarea>
              </div>
            </div>
          </div>

        </div>



        <div class="col-12 col-xl-2">

        </div>
      </div>

      <div class="row" style="margin-top: 24px;">
        <div class="col-12 col-md-11">
          <div class="row justify-content-center desktopButtons">
            <button class="btn btn-success btnSave btnFooter" type="button"
              style="margin: 14px;margin-top: 0px;width: 100px;">
              <i class="fa fa-save" style="padding-right: 8px;"></i>Save
            </button>

            <button class="btn btn-secondary btnBack btnFooter" type="button"
              style="margin: 14px;margin-top: 0px;width: 100px;">
              <i class="fa fa-remove" style="padding-right: 8px;"></i>Cancel
            </button>
          </div>
        </div>
      </div>

    </form>
  </div>
</template>