<!-- Render Invoice custom fields -->
<!-- Params
  containerClasses
  custfields
  salesCloudPreferenceRec
  data
-->
<template name="custom_fields">
  <div class="col-12 col-md-6 col-lg-4 col-xl-2">
    <div class="form-group">
      <div class="one box checkbox1div"
        style="{{#if salesCloudPreferenceRec}}{{#if equals salesCloudPreferenceRec.customFields.[0].hidden false}}display:block{{else}}display:none{{/if}}{{else}}display:none{{/if}}">
        <div class="form-group">
          <label class="lblCustomField1">{{custfields.[0].custfieldlabel}}</label>
          <input class="form-control form-control" type="text" id="edtSaleCustField1"
            name="edtSaleCustField1" value="{{data.saleCustField1}}" custfieldid=''>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 col-xl-2">
    <div class="form-group">
      <div class="two box checkbox2div"
        style="{{#if salesCloudPreferenceRec}}{{#if equals salesCloudPreferenceRec.customFields.[1].hidden false}}display:block{{else}}display:none{{/if}}{{else}}display:none{{/if}}">
        <div class="form-group">
          <label class="lblCustomField2">{{custfields.[1].custfieldlabel}}<br></label>
          <input class="form-control form-control" type="text" id="edtSaleCustField2"
            name="edtSaleCustField2" value="{{data.saleCustField2}}" custfieldid=''>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 col-xl-2">
    <div class="form-group">
      <div class="two box checkbox3div"
        style="{{#if salesCloudPreferenceRec}}{{#if equals salesCloudPreferenceRec.customFields.[1].hidden false}}display:block{{else}}display:none{{/if}}{{else}}display:none{{/if}}">
        <div class="form-group">
          <label class="lblCustomField2">{{custfields.[2].custfieldlabel}}<br></label>
          <input class="form-control form-control" type="text" id="edtSaleCustField3"
            name="edtSaleCustField3" value="{{data.saleCustField3}}" custfieldid=''>
        </div>
      </div>
    </div>
  </div>
</template>